:root {
    --white: #fff;
    --black: #333;
    --primary-color: #00967b;
    --primary-color-80: rgba(0, 150, 123, 0.8);
    --secondary-color: #0080a9;
    --secondary-color-60: rgba(0, 128, 169, 0.6);
    --linear-background: linear-gradient(
        135deg,
        var(--primary-color-80) 0%,
        var(--secondary-color-60) 100%
    );
}

body {
    margin: 0;
    padding: 5rem 0;
    // min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
     /* Black */
    color: var(--black);
    background: var(--linear-background) no-repeat;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

ol,
ul {
    margin-block: 0;
    padding-inline-start: 0;

    li {
        list-style-type: none;
    }
}

.line-bg {
    max-width: 100vw;
    width: 100vw;
    position: absolute;
    left: 0;

    &:first-of-type {
        top: 18rem;
    }

    &:last-of-type {
        top: 28rem;
    }
}
